    
.search-bar{
    width: 90%;
    margin: 2.5rem 0 1rem 0 ;
    padding-inline: 1rem;
}

.table{
    width: 94%;
    margin: auto;
  
}
.tablewrap{
    width: 100%;
   
}
.ant-card{
    display: flex;
    justify-content: center;
}

@media (max-width:"720"){
    .tablewrap{
        width: 80vw;
        margin: 0;
        overflow-x: hidden;
    }
    .ant-card{
        margin: 0;
    }

}
@media (max-width:400){
    
    .tablewrap{
        width: 360px;
        
    }
}