.btn button{
    width: 90%;
    position: relative;
    border: none;
    height: 2.5rem;
    border-radius: .3rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(46, 107, 239);
    border: 2px solid rgb(40, 108, 254);
     
  font-family: "Montserrat", sans-serif;
    margin-bottom: 1rem;
    font-size: .9rem;
    transition: all .3s ease-in;
}
.btn button:hover{
    background-color: #2970FF;
    color: white;
    border: 2px solid white
}
.blue button:hover{
    background-color: rgb(255, 255, 255);
   
    color: rgb(46, 107, 239);
    border: 2px solid rgb(40, 108, 254);
}
.ant-card-body{
    margin: 0;
}

.blue button{
    background-color:#2970FF;
    color: white;
    border: none;
}
@media (max-width: 720px){
    .btn button{
     
        margin: 0 0 1rem 11%;
       
    }
}