.chart-wrap{
    display: flex;
 justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.chart-div{
    width: 48%;
}


.chart-card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;;
min-width: 400px;

}
@media (max-width:720px){
    .chart-wrap{
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .chart-card{
        margin: auto;
    }
    .chart-div{
        width: 100%;
        
    }
    .dash-wrap{
        padding: 0;
    }

}

